<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Text Similarity Finder."</title>
</head>
<body>
<form method="POST">
    <p>Enter the two strings or documents which needs to be compared.</p>
    <p>"The Image"</p>
    <label for="Document1">Text1:</label>
    <input type="text" id="Text1_for_comaparison" name="text1" placeholder="Document1">
    <label for="Document2">Text2:</label>
    <input type="text" id="Text2_for_comaparison" name="text2" placeholder="Document2">
    <button type="submit">Get Similarity</button>
</form>
</body>
</html>
